input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

hr {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 5px !important;
    padding: 10px !important;
    color: white !important;
    font-size: 14px !important;
    -webkit-appearance: listbox !important;
}

.form-control::placeholder {
    color: white !important;
}

.form-control:focus {
    color: white !important;
}

.form-control option {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.form-control option:hover {
    background-color: #d53131 !important;
    color: white !important;
}

.form-control:after {
    position: absolute !important;
    content: "" !important;
    top: 14px !important;
    right: 10px !important;
    width: 0 !important;
    height: 0 !important;
    border: 6px solid !important;
    border-color: #fff !important;
}

.form-control:focus::placeholder {
    color: transparent !important;
}

.form-check-input:checked {
    background-color: green;
    border-color: #2b5c93;
}